.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #ffffff50;
  backdrop-filter: blur(4px);
  transition: visibility 300ms ease-in-out, opacity 300ms ease-in-out;
}
.overlay--visible {
  visibility: visible;
  opacity: 1;
}
.overlay--hidden {
  visibility: hidden;
  opacity: 0;
}
