.search-bar {
  position: relative;
  top: 0;
  width: 80%;
  background-color: rgb(var(--white));
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid rgb(var(--primary));
  max-width: 768px;
}
.search-bar__icon {
  position: absolute;
  width: 30px;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);

  transition: opacity 200ms ease-in-out, left 200ms ease-in-out;
}

.search-bar__input {
  width: 100%;
  height: 2.5em;
  border: 0;
  padding: 0 2em;
  font-size: 1.25rem;
  transition: padding-left 300ms ease-in-out;
}
.search-bar__input:focus {
  outline: 0;
  padding-left: 1em;
}
.search-bar__input::placeholder {
  text-transform: uppercase;
  font-weight: bold;
}
.search-bar__input:focus + .search-bar__icon {
  opacity: 0;
  left: -1em;
}

@media screen and (max-width: 768px) {
  .search-bar {
    margin: auto;
  }
}
