.navButton {
  padding: 0.5em 1em;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
}
.navButton--selected {
  background-color: rgb(var(--primary)) !important;
}
.navButton--inactive {
  background-color: rgb(var(--inactive-nav-button));
}

.navButton__label {
  position: relative;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.navButton__label--selected {
  font-weight: bold;
  color: rgb(var(--white));
}
.navButton__label--inactive {
  color: rgb(var(--black));
}

.navButton--inactive .navButton__label::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: 2px solid rgb(var(--black));
  transition: width 300ms ease-in-out;
}
.navButton:hover {
  background-color: rgb(var(--inactive-nav-button-hover));
}
.navButton:hover .navButton__label::after {
  width: 100%;
}

.navButton--selected {
  background-color: rgb(var(--primary));
}
