.hamburger {
  position: relative;
  width: 1.5rem;
  height: 15px;
  cursor: pointer;
}

.dash {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(var(--black));
  transition: top 100ms ease-in-out 200ms, bottom 100ms ease-in-out 200ms,
    transform 200ms ease-in-out;

  transform-origin: center;
}
.dash:first-child {
  top: 0;
}
.dash:last-child {
  bottom: 0;
}

.dash--selected {
  transition: top 100ms ease-in-out, bottom 100ms ease-in-out,
    transform 200ms ease-in-out 100ms;
}

.dash--selected:first-child {
  top: calc(50% - 1.5px);
  transform: rotate(45deg);
}
.dash--selected:last-child {
  bottom: calc(50% - 1.5px);
  transform: rotateZ(-45deg);
}
