@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap");

:root {
  --primary: 233, 29, 26; /* Marvel Red*/
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --inactive-nav-button: 231, 231, 231;
  --inactive-nav-button-hover: 215, 215, 215;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Comic Neue"; /* Comic Neue @400 is default font */
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}
